@import '../../../node_modules/jeet/stylus/jeet'

//edit()

*
  margin: 0
  padding: 0

.main
  width: 100%

.container
  width: 100%

.content
  center(1200px)
  clear:both

section
  column(1)

article
  column(1)
  table
    width : 100%
    thead
      text-align: center
      font-family: 'Lato'
      font-weight: 300
      font-size: 2em
    tbody
      text-align: center
      font-family: 'Lato'
      font-weight: 300
      font-size: 1.7em
      color: #337ab7
  a
    font-family: 'Lato'
    font-weight: 300
    font-size: 2em
    text-decoration: none
    color: #337ab7
  a:hover
    text-decoration: underline

header
  text-align: center
  font-family: 'Lato'
  font-weight: 300
  font-size: 2.5em
  color: #337ab7