* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
}
.container {
  width: 100%;
}
.content {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  clear: both;
}
.content:before,
.content:after {
  content: '';
  display: table;
}
.content:after {
  clear: both;
}
section {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
section:last-child {
  margin-right: 0%;
}
article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
article:before,
article:after {
  content: '';
  display: table;
}
article:after {
  clear: both;
}
article:last-child {
  margin-right: 0%;
}
article form {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  padding-top: 40px;
}
article form:before,
article form:after {
  content: '';
  display: table;
}
article form:after {
  clear: both;
}
article form:last-child {
  margin-right: 0%;
}
article label {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1em;
}
article label:before,
article label:after {
  content: '';
  display: table;
}
article label:after {
  clear: both;
}
article label:last-child {
  margin-right: 0%;
}
article table {
  width: 100%;
}
article table thead {
  text-align: left;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1em;
}
article table tbody {
  text-align: left;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.2em;
  color: #337ab7;
}
article a {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1em;
  text-decoration: none;
  color: #d9534f;
}
article a:hover {
  color: #ccc;
}
header h1 {
  text-align: center;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.2em;
  color: #000;
}
aside {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
aside:before,
aside:after {
  content: '';
  display: table;
}
aside:after {
  clear: both;
}
aside:last-child {
  margin-right: 0%;
}
aside h1 {
  text-align: left;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.2em;
  color: #000;
  padding-top: 40px;
}
aside ul {
  list-style: none;
  text-align: left;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.2em;
  color: #337ab7;
  padding-top: 20px;
}
/*HELPERS*/
/*BTN*/
.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #333;
  border: 1px solid #222;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: 400;
  color: #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 1px rgba(0,0,0,0.05);
}
.btn:hover {
  text-display: none !important;
}
.btn-success {
  background-color: #59ab66;
  border-color: #4b9157;
}
.btn-success:hover {
  background-color: #66c475;
  border-color: #59ab66;
}
.btn-default {
  background-color: #adadad;
  border-color: #ccc;
}
.btn-default:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}
.btn-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover {
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}
/*FORMS*/
.form-field {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1em;
}
.form-legend {
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px #555 dotted;
}
fieldset {
  border: 0;
}
label {
  display: block;
  margin-bottom: 5px;
}
input,
textarea,
select {
  padding: 10px 0 10px 10px;
  width: 90%;
}
input[type="submit"],
input[type="reset"],
button {
  width: auto;
  margin-top: 10px;
  cursor: pointer;
}
input[type="color"] {
  height: 40px;
  cursor: pointer;
}
.form-check .form-field {
  margin-bottom: 15px;
}
.form-check label {
  display: inline-block;
  margin-right: 30px;
  padding: 8px 15px 10px 15px;
  cursor: pointer;
}
.form-check input {
  float: left;
  width: auto;
  margin: 4px 10px 0 0;
  cursor: pointer;
}
.alert-success {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
  padding: 15px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success:before,
.alert-success:after {
  content: '';
  display: table;
}
.alert-success:after {
  clear: both;
}
.alert-success:last-child {
  margin-right: 0%;
}
.alert-danger {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
  padding: 20px 0;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger:before,
.alert-danger:after {
  content: '';
  display: table;
}
.alert-danger:after {
  clear: both;
}
.alert-danger:last-child {
  margin-right: 0%;
}
/*PAGINAÇÃO*/
.pagination {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1em;
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination:before,
.pagination:after {
  content: '';
  display: table;
}
.pagination:after {
  clear: both;
}
.pagination:last-child {
  margin-right: 0%;
}
.pagination li {
  display: inline;
}
.pagination li a,
.pagination li span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination >.active a,
.pagination >.active>a:focus,
.pagination >.active>a:hover,
.pagination >.active>span,
.pagination >.active>span:focus,
.pagination >.active>span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #2e6da4;
}
